* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navigation {
  background: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 30px;
  width: 100%;
  /* for scrolling */
  position: fixed;
  z-index: 1;
}
.navigation a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.nav-head {
  font-size: 3vw;
}
.collections,.experiment,.search {
  font-size: 1.5vw;
}
.submit-btn {
  background: black;
  border: 1px solid white;
  color: white;
  padding: 5px;
}
.upper-content {
  display: flex;
  flex-flow: column wrap;
  padding-top: 150px;
  align-items: center;
}
.upper-content  h1 {
  font-size: 2.5vw;
  color: rgb(65, 57, 57);
}
.upper-content p {
  padding: 10px;
  color: rgb(48, 43, 43);
  font-size: 1.5vw;
}
.upper-content ul {
  padding: 10px;
  color: rgb(148, 134, 134);
  font-size: 1.5vw;
}
.line-one {
  color: rgb(51, 51, 30);
}
.line-two {
  color: rgb(204, 195, 160);
}
.line-three {
  color: rgb(92, 77, 77);
}
.horizontal {
  border-top: 2px solid black;
  width: 73%;
  position: relative;
  left: 200px;
  top: 30px;
}
.container-one {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-one h3 {
  padding: 10px;
  font-size: 20px;
}
.grid-one,.grid-two {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.item-one,.item-two {
    border: 2px solid black;
}
.grid-one img {
  width: 100%;
  height: auto;
}
.container-two h3 {
  padding: 10px;
  font-size: 20px;
}
.container-one p {
  padding-top: 10px;
  text-align: center;
}
.container-two {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-two p {
  padding-top: 10px;
  text-align: center;
}
.container-three {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-three h3 {
  padding: 10px;
  font-size: 20px;
}
.grid-three {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.item-three,.item-four,.item-five {
  border: 2px solid black;
}
.container-three p {
  padding-top: 10px;
  text-align: center;
}
.container-four {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-four p {
  padding-top: 10px;
  text-align: center;
}
.grid-four {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.container-five {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-five p {
  padding-top: 10px;
  text-align: center;
}
.grid-five {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.container-six {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-six p {
  padding-top: 10px;
  text-align: center;
}
.grid-six {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.container-seven {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-seven p {
  padding-top: 10px;
  text-align: center;
}
.grid-seven {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.container-eight {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-eight p {
  padding-top: 10px;
  text-align: center;
}
.grid-eight {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.container-nine {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-nine p {
  padding-top: 10px;
  text-align: center;
}
.grid-nine {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.container-ten {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-ten p {
  padding-top: 10px;
  text-align: center;
}
.grid-ten {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.container-eleven {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-eleven p {
  padding-top: 10px;
  text-align: center;
}
.grid-eleven {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.container-twelve {
  padding-top: 70px;
  padding-left: 200px;
  padding-bottom: 30px;
}
.container-twelve p {
  padding-top: 10px;
  text-align: center;
}
.grid-twelve {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  padding-top: 10px;
}
.footer {
  background: black;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 30px;
  width: 100%;
}
.footer a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.footer-header {
  font-size: 3vw;
  color: white;
}
.copyright {
  font-size: 1.5vw;
  position: relative;
  padding-top: 10px;
}
.footer img {
  width: 2vw;
  height: 2vw;
}

@media all and (max-width: 600px) {
  /* for mobiles */
.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  }
.navigation a { 
  text-align: center; 
}
.navigation {
  background: black;
  list-style: none;
  margin: 0;
  width: 100%;
}
.navigation a {
  text-align: center;
}
.submit-btn {
  padding: 0;
  }
.nav-head {
  font-size: 40px;
  position: relative;
  top: -20px;
}
.collections,.experiment,.search {
  font-size: 18px;
}
.upper-content {
 padding-top: 200px;
}
.horizontal {
  margin-left: 0;
  margin-right: 80px;
  position: relative;
  top: 10px;
  left: 50px;
}
.container-one {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-one p {
  padding-top: 10px;
  text-align: center;
}
.container-one h3 {
  padding: 0;
  font-size: 20px;
}
.grid-one,.grid-two {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-one img {
  width: 100%;
  height: auto;
}
.container-two {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-two p {
  padding-top: 10px;
  text-align: center;
}
.container-two h3 {
  padding: 0;
  font-size: 20px;
}
.grid-two img {
  width: 100%;
  height: auto;
}
.container-two {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-two p {
  padding-top: 10px;
  text-align: center;
}
.container-two h3 {
  padding: 0;
  font-size: 20px;
}
.grid-two img {
  width: 100%;
  height: auto;
}
.container-three {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-three p {
  padding-top: 10px;
  text-align: center;
}
.container-three h3 {
  padding: 0;
  font-size: 20px;
}
.grid-three img {
  width: 100%;
  height: auto;
}
.grid-three {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.container-four {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-four p {
  padding-top: 10px;
  text-align: center;
}
.grid-four {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-four img {
  width: 100%;
  height: auto;
}
.container-five {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-five p {
  padding-top: 10px;
  text-align: center;
}
.grid-five {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-five img {
  width: 100%;
  height: auto;
}
.container-six {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-six p {
  padding-top: 10px;
  text-align: center;
}
.grid-six {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-six img {
  width: 100%;
  height: auto;
}
.container-seven {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-seven p {
  padding-top: 10px;
  text-align: center;
}
.grid-seven {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-seven img {
  width: 100%;
  height: auto;
}
.container-eight {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-eight p {
  padding-top: 10px;
  text-align: center;
}
.grid-eight {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-eight img {
  width: 100%;
  height: auto;
}
.container-nine {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-nine p {
  padding-top: 10px;
  text-align: center;
}
.grid-nine {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-nine img {
  width: 100%;
  height: auto;
}
.container-ten {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-ten p {
  padding-top: 10px;
  text-align: center;
}
.grid-ten {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-ten img {
  width: 100%;
  height: auto;
}
.container-eleven {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-eleven p {
  padding-top: 10px;
  text-align: center;
}
.grid-eleven {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-eleven img {
  width: 100%;
  height: auto;
}
.container-twelve {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 75%;
}
.container-twelve p {
  padding-top: 10px;
  text-align: center;
}
.grid-twelve {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-twelve img {
  width: 100%;
  height: auto;
}

}

@media all and (min-width: 601px) and (max-width: 800px)  {
/* for tabs */
.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  }
.navigation a { 
  text-align: center; 
}
.navigation {
  background: black;
  list-style: none;
  margin: 0;
  width: 100%;
}
.navigation a {
  text-align: center;
}
.submit-btn {
  padding: 0;
  }
.nav-head {
  font-size: 40px;
  position: relative;
  top: -20px;
}
.collections,.experiment,.search {
  font-size: 18px;
}
.upper-content {
 padding-top: 200px;
}
.horizontal {
  margin-left: 0;
  margin-right: 80px;
  position: relative;
  top: 10px;
  left: 100px;
}
.container-one {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-one p {
  padding-top: 10px;
  text-align: center;
}
.container-one h3 {
  padding: 0;
  font-size: 20px;
}
.grid-one,.grid-two {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-one img {
  width: 100%;
  height: auto;
}
.container-two {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-two p {
  padding-top: 10px;
  text-align: center;
}
.container-two h3 {
  padding: 0;
  font-size: 20px;
}
.grid-two img {
  width: 100%;
  height: auto;
}
.container-three {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-three p {
  padding-top: 10px;
  text-align: center;
}
.container-three h3 {
  padding: 0;
  font-size: 20px;
}
.grid-three img {
  width: 100%;
  height: auto;
}
.grid-three {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.container-four {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-four p {
  padding-top: 10px;
  text-align: center;
}
.grid-four {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-four img {
  width: 100%;
  height: auto;
}
.container-five {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-five p {
  padding-top: 10px;
  text-align: center;
}
.grid-five {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-five img {
  width: 100%;
  height: auto;
}
.container-six {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-six p {
  padding-top: 10px;
  text-align: center;
}
.grid-six {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-six img {
  width: 100%;
  height: auto;
}
.container-seven {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-seven p {
  padding-top: 10px;
  text-align: center;
}
.grid-seven {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-seven img {
  width: 100%;
  height: auto;
}
.container-eight {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-eight p {
  padding-top: 10px;
  text-align: center;
}
.grid-eight {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-eight img {
  width: 100%;
  height: auto;
}
.container-nine {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-nine p {
  padding-top: 10px;
  text-align: center;
}
.grid-nine {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-nine img {
  width: 100%;
  height: auto;
}
.container-ten {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-ten p {
  padding-top: 10px;
  text-align: center;
}
.grid-ten {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-ten img {
  width: 100%;
  height: auto;
}
.container-eleven {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-eleven p {
  padding-top: 10px;
  text-align: center;
}
.grid-eleven {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-eleven img {
  width: 100%;
  height: auto;
}
.container-twelve {
  padding-top: 30px;
  padding-left: 170px;
  padding-bottom: 30px;
  width: 75%;
}
.container-twelve p {
  padding-top: 10px;
  text-align: center;
}
.grid-twelve {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-twelve img {
  width: 100%;
  height: auto;
}

}

@media all and (min-width: 801px) and (max-width: 1000px)  {
/* for tabs */
.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  }
.navigation a { 
  text-align: center; 
}
.navigation {
  background: black;
  list-style: none;
  margin: 0;
  width: 100%;
}
.navigation a {
  text-align: center;
}
.submit-btn {
  padding: 0;
  }
.nav-head {
  font-size: 40px;
  position: relative;
  top: -20px;
}
.collections,.experiment,.search {
  font-size: 18px;
}
.upper-content {
 padding-top: 200px;
}
.horizontal {
  margin-left: 0;
  margin-right: 80px;
  position: relative;
  top: 10px;
  left: 150px;
}
.container-one {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-one p {
  padding-top: 10px;
  text-align: center;
}
.container-one h3 {
  padding: 0;
  font-size: 20px;
}
.grid-one,.grid-two {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-one img {
  width: 100%;
  height: auto;
}
.container-two {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-two p {
  padding-top: 10px;
  text-align: center;
}
.container-two h3 {
  padding: 0;
  font-size: 20px;
}
.grid-two img {
  width: 100%;
  height: auto;
}
.container-three {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-three p {
  padding-top: 10px;
  text-align: center;
}
.container-three h3 {
  padding: 0;
  font-size: 20px;
}
.grid-three img {
  width: 100%;
  height: auto;
}
.grid-three {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.container-four {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-four p {
  padding-top: 10px;
  text-align: center;
}
.grid-four {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-four img {
  width: 100%;
  height: auto;
}
.container-five {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-five p {
  padding-top: 10px;
  text-align: center;
}
.grid-five {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-five img {
  width: 100%;
  height: auto;
}
.container-six {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-six p {
  padding-top: 10px;
  text-align: center;
}
.grid-six {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-six img {
  width: 100%;
  height: auto;
}
.container-seven {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-seven p {
  padding-top: 10px;
  text-align: center;
}
.grid-seven {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-seven img {
  width: 100%;
  height: auto;
}
.container-eight {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-eight p {
  padding-top: 10px;
  text-align: center;
}
.grid-eight {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-eight img {
  width: 100%;
  height: auto;
}
.container-nine {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-nine p {
  padding-top: 10px;
  text-align: center;
}
.grid-nine {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-nine img {
  width: 100%;
  height: auto;
}
.container-ten {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-ten p {
  padding-top: 10px;
  text-align: center;
}
.grid-ten {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-ten img {
  width: 100%;
  height: auto;
}
.container-eleven {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-eleven p {
  padding-top: 10px;
  text-align: center;
}
.grid-eleven {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-eleven img {
  width: 100%;
  height: auto;
}
.container-twelve {
  padding-top: 30px;
  padding-left: 230px;
  padding-bottom: 30px;
  width: 75%;
}
.container-twelve p {
  padding-top: 10px;
  text-align: center;
}
.grid-twelve {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  justify-content: start;
  row-gap: 15px;
}
.grid-twelve img {
  width: 100%;
  height: auto;
}

}