* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.navigation {
  background: black;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  list-style: none;
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  top: 0;
    /* for scrolling */
  position: fixed;
  z-index: 1;
}
.navigation a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 30px 130px;
}
.submit-btn {
  border: 1px solid white;
  background: black;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 5px;
}
.nav-head {
  font-size: 30px;
  padding-top: 30px;
}
.collections,.experiment,.search {
  font-size: 18px;
}
.upper-content h1 {
	padding-top: 100px;
	padding-left: 160px;
}
.upper-content p {
	padding-top: 30px;
	padding-left: 160px;
}
.upper-content ul {
	padding-top: 30px;
  padding-left: 160px;
  color: rgb(158, 137, 137);
}
.horizontal-one {
  border-top: groove;
  margin-left: 150px;
  margin-right: 400px;
}
.container-one {
  padding-top: 30px;
  padding-left: 160px;
}
.grid {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 100px;
}
.line-one {
  color: rgb(51, 51, 30);
}
.line-two {
  color: rgb(204, 195, 160);
}
.line-three {
  color: rgb(92, 77, 77);
}

.horizontal-two {
  border-top: groove;
  margin-left: 0px;
  margin-right: 400px;
}
.horizontal-three {
  border-top: groove;
  margin-left: 0px;
  margin-right: 400px;
}

.grid-three {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-three img {
  width: 350px;
  height: 350px;
}
.container-four {
  padding-top: 30px;
}
.grid-four {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-four img {
  width: 350px;
  height: 350px;
}
.container-five {
  padding-top: 30px;
}
.grid-five {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-five img {
  width: 350px;
  height: 350px;
}
.container-six {
  padding-top: 30px;
}
.grid-six {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-six img {
  width: 350px;
  height: 350px;
}
.container-seven {
  padding-top: 30px;
}
.grid-seven {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-seven img {
  width: 350px;
  height: 350px;
}
.container-eight {
  padding-top: 30px;
}
.grid-eight {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-eight img {
  width: 350px;
  height: 350px;
}
.container-nine {
  padding-top: 30px;
}
.grid-nine {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-nine img {
  width: 350px;
  height: 350px;
}
.container-ten {
  padding-top: 30px;
}
.grid-ten {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-ten img {
  width: 350px;
  height: 350px;
}
.container-eleven {
  padding-top: 30px;
}
.grid-eleven {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-eleven img {
  width: 350px;
  height: 350px;
}
.container-twelve {
  padding-top: 30px;
}
.grid-twelve {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-twelve img {
  width: 350px;
  height: 350px;
}
.container-thirteen {
  padding-top: 30px;
}
.grid-thirteen {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-thirteen img {
  width: 350px;
  height: 350px;
}
footer {
  margin: 0;
  width: 100%; 
}
.footer {
  background-color: black;
  color: white;
  height: 150px; 
  width: 100vw;
}
.footer img {
  width: 50px;
  height:50px;
}
.copyright {
  color: white;
}




@media all and (max-width: 800px) {
	/* for tablets */
  .navigation {
    justify-content: space-around;
  }
  .navigation {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
  }
  .navigation {
    background: black;
    list-style: none;
    margin: 0;
    width: 100%;
    height: 200px;
  }
  .navigation a {
    text-align: center;
    padding: 0;
  }
  .submit-btn {
    padding: 0;
  }
  .nav-head {
    font-size: 30px;
  }
  .collections,.experiment,.search {
    font-size: 18px;
  }
  .upper-content h1 {
    padding-top: 200px;
    padding-left: 20px;
  }
  .upper-content p {
    padding-top: 20px;
    padding-left: 20px;
    max-width: 80%;
  }
  .upper-content ul {
    padding-top: 30px;
    padding-left: 40px;
    max-width: 80%;
  }
  .horizontal-one {
    margin-left: 20px;
    margin-right: 100px;
  }
  .container-one {
    padding-top: 30px;
    padding-left: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid img {
    max-width: 70%;
  }
  .horizontal-two {
    margin-left: 0px;
    margin-right: 100px;
  }
  .horizontal-three {
    margin-left: 0px;
    margin-right: 100px;
  }
  
  .grid-three {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-three img {
    max-width: 70%;
  }
  .grid-four {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-four img {
    max-width: 90%;
  }
  .grid-five {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-five img {
    max-width: 90%;
  }
  .grid-six {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-six img {
    max-width: 90%;
  }
  .grid-seven {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-seven img {
    max-width: 90%;
  }
  .grid-eight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-eight img {
    max-width: 90%;
  }
  .grid-nine {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-nine img {
    max-width: 90%;
  }
  .grid-ten {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-ten img {
    max-width: 90%;
  }
  .grid-eleven {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-eleven img {
    max-width: 90%;
  }
  .grid-twelve {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-twelve img {
    max-width: 90%;
  }
  .grid-thirteen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-thirteen img {
    max-width: 90%;
  }
}




@media all and (max-width: 600px) {
	/* for mobiles */
  .navigation {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
  }
  .navigation {
    background: black;
    list-style: none;
    margin: 0;
    width: 100%;
    height: 200px;
  }
  .navigation a {
    text-align: center;
    padding: 0;
  }
  .submit-btn {
    padding: 0;
  }
  .nav-head {
    font-size: 30px;
  }
  .collections,.experiment,.search {
    font-size: 18px;
  }
  .upper-content h1 {
    padding-top: 200px;
    padding-left: 20px;
  }
  .upper-content p {
    padding-top: 20px;
    padding-left: 20px;
    max-width: 80%;
  }
  .upper-content ul {
    padding-top: 30px;
    padding-left: 40px;
    max-width: 80%;
  }
  .horizontal-one {
    margin-left: 20px;
    margin-right: 100px;
  }
  .container-one {
    padding-top: 30px;
    padding-left: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid img {
    max-width: 70%;
  }
  .horizontal-two {
    margin-left: 0px;
    margin-right: 100px;
  }
  .horizontal-three {
    margin-left: 0px;
    margin-right: 100px;
  }
  
  .grid-three {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-three img {
    max-width: 70%;
  }
  .grid-four {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-four img {
    max-width: 70%;
  }
  .grid-five {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-five img {
    max-width: 70%;
  }
  .grid-six {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-six img {
    max-width: 70%;
  }
  .grid-seven {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-seven img {
    max-width: 70%;
  }
  .grid-eight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-eight img {
    max-width: 70%;
  }
  .grid-nine {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-nine img {
    max-width: 70%;
  }
  .grid-ten {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-ten img {
    max-width: 70%;
  }
  .grid-eleven {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-eleven img {
    max-width: 70%;
  }
  .grid-twelve {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-twelve img {
    max-width: 70%;
  }
  .grid-thirteen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    justify-content: start;
    row-gap: 15px;
  }
  .grid-thirteen img {
    max-width: 70%;
  }
}
  
 